div.zccFlyoutMenu {
    /* -moz-transition: opacity .25s ease-in-out, top .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out, top .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out, top .25s ease-in-out;
    transition: opacity .25s ease-in-out, top .25s ease-in-out; */
    opacity: 0.0;
    transform: scale(1, 0);
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

div.zccFlyoutMenu.show {
    opacity: 1.0;
    transform: scale(1, 1);
    display: block;
}