<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>EEG MEG WorkingSpace (FastAPI)</title>

<link id="favicon" rel="icon" type="image/x-icon" href="static/favicon_io/favicon.ico">

<!-- D3 -->
<script src="/static/cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js"
    integrity="sha256-8glLv2FBs1lyLE/kVOtsSw8OQswQzHr5IfwVj864ZTk=" crossorigin="anonymous"></script>

<!-- markdown-it.js -->
<script src="/static/cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js"
    integrity="sha256-OMcKHnypGrQOLZ5uYBKYUacX7Rx9Ssu91Bv5UDeRz2g=" crossorigin="anonymous"></script>

<!-- highlight.js (https://www.jsdelivr.com/package/npm/highlight.js) -->
<link rel="stylesheet" href="/static/cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css">
<script src="/static/cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="/static/cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/languages/go.min.js"></script>

<!-- Local markdown toolbox -->
<script src="/static/js/markdown.js"></script>

<!-- Tailwindcss style -->
<link href="/static/output.css" rel="stylesheet">

<!-- Global style -->
<link href="/static/css/style.css" rel="stylesheet">

<!-- Debug style -->
<link href="/static/css/debug.css" rel="stylesheet">